/* フォーム全体 */
.form-container {
  display: grid;
  justify-content: center;
  margin: 100px auto;
}

/* ページタイトル */
.title {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

/* 項目名 */
.label-tag {
  color: var(--black);
  font-size: 12px;
}

/* テキストボックス */
.text-field {
  width: 400px;
  height: 40px;
  font-size: 16px;
  border: 1.5px solid var(--gray);
  background-color: var(--white);
  text-align: left;
}

/* テキストエリア */
.text-area {
  white-space: normal;
  resize: none;
}

/* プルダウン */
select {
  height: 30px;
  border-radius: 4px;
  padding: 5px;
}

.form-select {
  border: 1px solid gray !important;
  border-radius: 0.2rem !important;
}

/* カレンダー */
.form-control-sm {
  border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

/* ラジオボタン */
.radio-label-tag {
  margin-right: 10px;
  font-size: 0.8rem;
}

.radio-button {
  margin-right: 20px;
}

/* 送信ボタン */
.actions {
  text-align: center;
}

.submit-button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background: var(--theme_gradient_color);
  color: #ffffff;
  font-size: 18px;
}

.submit-button:hover {
  background: var(--theme_color);
}

/* 戻るボタン */
.back-button-container {
  text-align: center;
}

.back-button {
  color: #ccc;
  font-size: 0.75rem;
  text-decoration: none;
}

.back-button:hover {
  text-decoration: underline;
}

/* ファイルアップロードボタン（ユーザー用） */
.upload-button{
  width: 140px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 17px;
}

/* ファイルアップロードボタン（イベント用） */
.event-upload-button{
  width: 140px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 20px;
}

/* プレビュー画像（ユーザー用） */
#image-preview {
  position: relative;
  left: 14%;
  width: 300px;
  height: 300px;
  border: 0.5px solid #ccc;
  border-radius: 50%;
}

/* プレビュー画像（イベント用） */
#event-image-preview {
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/* 吹き出しのホバー範囲 */
.speech-bubble-area {
  position: relative;
}

/* 吹き出しの角丸 */
.speech-bubble{
  position: relative;
  width: max-content;
  padding: 10px;
  background-color: var(--theme_color);
  border-radius: 5px;
  color: white;
  font-size: 0.5rem;
  text-align: center;
  margin-left: 27%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

/* 吹き出しの三角形 */
.speech-bubble::before{
  content: '';
  display: block;
  position: absolute;
  left: 82px;
  top: 30px;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--theme_color);
  border-left: 15px solid transparent;
}

/* レスポンシブ対応（PC版） */
@media screen and (min-width: 992px){

  /* ホバーしたら吹き出しを表示する */
  .speech-bubble-area:hover .speech-bubble {
    opacity: 1;
    visibility: visible;
  }
}

/* レスポンシブ対応（スマホ版） */
@media screen and (max-width: 991px){

  /* タップしたら吹き出しを表示する */
  .speech-bubble-area:active .speech-bubble {
    opacity: 1;
    visibility: visible;
  }

  .form-breadcrumbs {
    margin: 80px 0 0 20px;
  }
}

/* ファイル選択ボタン */
.image-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 50px;
}

input[type='file'] {
  color: rgb(31, 41, 55);
  cursor: pointer;
  border: 1px solid rgb(191, 194, 199);
  border-radius: 0.38rem;
  margin-left: 16px;
  padding-right: 0.5rem;
  width: 7rem;
}

::file-selector-button,
::-webkit-file-upload-button {
  background-color: rgb(209, 213, 219);
  color: rgb(31, 41, 55);
  border: none;
  cursor: pointer;
  border-right: 1px solid rgb(191, 194, 199);
  padding: 0.3rem 0.8rem 0.3rem 0.3rem;
  font-size: 0.8rem;
  text-align: center;
}

input[type='file']:hover {
  opacity: 0.8;
}

/* パンくずリスト */
.breadcrumbs {
  margin: 50px 0 0 20px;
}

.loggedin-breadcrumbs,
.form-breadcrumbs {
  margin: 130px 0 0 20px;
}

.breadcrumbs > a,
.loggedin-breadcrumbs > a,
.form-breadcrumbs > a {
  color: var(--theme_color);
}

.breadcrumbs > a:hover,
.loggedin-breadcrumbs > a:hover,
.form-breadcrumbs > a:hover {
  opacity: 0.7;
}

/* レスポンシブ対応（スマホ版） */
@media screen and (max-width: 991px){
  .loggedin-breadcrumbs,
  .form-breadcrumbs {
    margin: 100px 0 0 20px;
  }
}

/* レスポンシブ対応（iPhoneSE） */
@media screen and (max-width: 399px){
  .loggedin-breadcrumbs,
  .form-breadcrumbs {
    margin: 100px 0 0 20px;
  }
}

/* プロフィールアイコン */
.user-thumbnail {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 0.5px solid var(--gray);
  border-radius: 50%;
}