footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(-30deg, #ffc100, #f6cd4a 70%, #fce043 100%);
  z-index: 999;
}

.text-white {
  margin: 20px 0;
  text-align: center;
}