/* もっとみるボタン */
.more-list-btn-container {
  position: relative;
  margin-bottom: 10px;
  z-index: 10;
  border-top: 1px solid var(--light-gray);
  text-align: center;
}

.comment-list.is-hidden {
  opacity: 0;
  height: 0;
  margin: 0;
}

.more-list-btn {
  margin-top: 20px;
  cursor: pointer;
}

.more-list-btn:hover {
  opacity: 0.8;
}

.more-list-btn-container.is-btn-hidden,
.more-list-btn.is-btn-hidden{
  display:none;
  border: none;
}

.more-list-btn {
  display: inline-block;
  background-color: #333;
  color:#fff;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  padding: 0;
  height: 32px;
  line-height: 32px;
  width: 120px;
}