<div class="modal fade" id="eventDeleteModal" tabindex="-1" aria-labelledby="eventDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eventDeleteModalLabel">削除確認画面</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body eventDeleteModal">
        <p id="modal-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="event-delete-cancel" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <button type="button" id="event-delete" class="delete-button btn outline btn-primary" data-bs-dismiss="modal">削除</button>
      </div>
    </div>
  </div>
</div>