/* アプリの概要 */
.summary-container {
  padding-top: 200px;
  padding-bottom: 100px;
  color: var(--theme_color);
  background-color: #fff8dc;
}

.summary-items {
  display: flex;
  justify-content: space-evenly;
}

.summary-text-container {
  display: inline-block;
  align-self: center;
}

.summary-description {
  color: var(--black)!important;
}

/* スマホのカンプイメージ */
.comp-image {
  width: 300px;
}

/* アプリの特徴 */
.feature-container {
  display: inline-block;
  margin: 150px auto 50px;
}

.feature-title {
  color: var(--black)!important;
}

.feature-list {
  margin: 20px auto;
  width: 500px;
  text-align: left;
}

.list-item {
  color: var(--black)!important;
}

.list-item-text {
  color: var(--theme_color);
}

.symmetry-line {
  font-weight: bold;
  padding: 0 3em;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.symmetry-line::before, .symmetry-line::after {
  content: '';
  background: var(--theme_color);
  width: 2em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.symmetry-line::before {
  left: 0;
}
.symmetry-line::after {
  right: 0;
}

/* ログインへの遷移ボタン */
.transition-login-button {
  display: inline-block;
}

.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--theme_color);
  color: #ffffff;
  font-size: 18px;
}

.button-text:hover {
  border: 1px solid var(--theme_color);
  color: var(--theme_color);
  background-color: var(--white);
}

/* イベント一覧 */
.title-container {
  margin-top: 100px;
}

.loggedin-title-container {
  margin-top: 200px;
}

.event-list-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px 100px;
  justify-content: center;
  margin: 100px;
  height: auto;
}

/* イベント情報が１つだけの場合 */
.card-one {
  display: flex;
  justify-content: center;
  margin: 100px;
}

/* イベント情報 */
.card {
  display: flex;
  width: 500px;
  border: 0.5px solid var(--gray);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.2);
  transition: 0.5s 0s ease;
}

.card__inner {
  display: flex;
}

/* イベント画像 */
.card__image {
  width: 200px;
  height: 200px;
  border: 0.5px solid var(--gray);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.card__textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card__title {
  margin-left: 10px;
  padding: 10px;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.card__items {
  display: grid;
  position: relative;
  top: 10px;
  margin-left: 30px;
}

/* カテゴリ */
.category-label {
  width: max-content;
  min-width: 70px;
  margin-left: -5px;
  margin-bottom: 5px;
  padding: 10px;
  text-wrap: wrap;
  border: none;
  border-radius: 20px;
  background-color: var(--theme_color);
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.category-label:hover {
  background-color: var(--theme_hover_color);
}

/* 開催日 */
.eventday-container {
  width: max-content;
  margin-top: 5px;
  text-decoration: none;
  color: var(--black);
}

.eventday-label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--black);
}

.eventday-value {
  margin-left: 5px;
  font-size: 1rem;
  color: var(--theme_color);
}

.eventday-value:hover {
  color: var(--theme_hover_color);
}

/* レスポンシブ対応（スマホ版） */
@media screen and (max-width: 991px){
  .summary-container {
    width: 150%;
    padding-top: 200px;
    padding-bottom: 100px;
    color: var(--theme_color);
    background-color: #fff8dc;
  }

  .summary-items {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .summary-text-container {
    display: inline-block;
    align-self: center;
    margin-bottom: 50px;
  }

  .feature-container {
    display: inline-block;
    margin: 100px auto 50px;
    width: 400px;
  }

  .title-container {
    margin-top: 100px;
    width: 150%;
  }

  .event-list-container {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 150%;
  }

  .card {
    display: flex;
    width: 300px;
    margin: auto;
    border: 0.5px solid var(--gray);
    cursor: pointer;
  }

  .card__inner {
    display: flex;
    flex-direction: column;
  }

  .card__image {
    width: 250px;
    margin: auto;
    height: 200px;
    border: 0.5px solid var(--gray);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }

  .card__textbox {
    display: flex;
    padding: 10px;
  }

  .card__title {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .category-label {
    width: 150px;
    min-width: 70px;
    margin-left: -5px;
    margin-bottom: 5px;
    padding: 10px;
    text-wrap: wrap;
    border: none;
    border-radius: 20px;
    background-color: var(--theme_color);
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
  }
  
  .category-label:hover {
    background-color: var(--theme_hover_color);
  }

  .card__items {
    position: relative;
    top: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .eventday-container {
    width: max-content;
    margin-top: 14px;
    text-decoration: none;
    color: var(--black);
  }
}

/* レスポンシブ対応（iPhoneSE） */
@media screen and (max-width: 399px){
  .summary-container {
    width: 160%;
    padding-top: 200px;
    padding-bottom: 100px;
    color: var(--theme_color);
    background-color: #fff8dc;
  }

  .title-container {
    margin-top: 100px;
    width: 160%;
  }

  .event-list-container {
    display: flex;
    flex-direction: column;
    width: 160%;
    margin: 100px auto;
  }
}