.event-detail-container {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

/* イベントの概要 */
.event-summary {
  display: flex;
  justify-content: center;
}

.event-summary__container {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.event-summary__image {
  border: 1px solid var(--light-gray);
}

/* イベントの詳細情報 */
.event-info-table {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.event-info-table__eventday,
.event-info-table__category {
  color: var(--theme_color);
  text-decoration: none;
  cursor: pointer;
}

.event-info-table__eventday:hover,
.event-info-table__category:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.comment-wrapper {
  display: flex;
  justify-content: center;
}

.comment-event {
  width: 60%;
  margin: 50px 100px;
  border: 0.5px solid var(--light-gray);
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
}

.comment-title {
  background-color: var(--light-gray);
}

.comment-inner {
  padding: 10px;
}

.comment-form {
  display: flex;
  align-items: center;
}

.comment-field {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#comment-submit-button {
  width: 100px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background: var(--theme_gradient_color);
  color: #ffffff;
  font-size: 18px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--light-gray);
  opacity: 1;
}

.comment-list:last-child {
  border-bottom: none;
}

.comment-subtitle {
  margin: 0;
}

.comment-user-info {
  display: flex;
  align-items: baseline;
  padding-left: 10px;
}

.comment-username {
  margin-left: 5px;
}

.username {
  margin-bottom: 0;
}

.user-thumbnail-container {
  margin-left: 10px;
}

.created-comment {
  margin-left: 70px;
  padding: 5px;
  overflow-wrap: break-word;
}

.no-comment {
  font-size: 0.8rem;
}