//外部のcssファイルを読み込む
@import "bootstrap";
@import url(flash.css);
@import url(login.css);
@import url(events/index.css);

//共通カラー
$theme_color: #FF9900;
$theme_hover_color: #FF9966;

// 以下は共通のスタイルです

//ログインユーザー名
.login-user-name {
  margin-right: 20px;
  text-align: right;
}

//ページタイトル
.title {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

//項目名
.label-tag {
  color: #000000;
  font-size: 12px;
}

//テキストボックス
.text-field {
  width: 400px;
  height: 40px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  background-color: #ffffff;
  text-align: left;
}

//テキストエリア
.text-area {
  white-space: normal;
  resize: none;
}

//文字制限
.character-limit {
  font-size: 12px;
  color: #ccc;
  text-align: left;
}

.actions {
  text-align: center;
}

//送信ボタン
.submit-button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: $theme_color;
  color: #ffffff;
  font-size: 18px;
}

.submit-button:hover {
  background-color: $theme_hover_color;
}

//戻るボタン
.back-button-container {
  text-align: center;
}

.back-button {
  color: #ccc;
  font-size: 0.75rem;
  text-decoration: none;
}

.back-button:hover {
  text-decoration: underline;
}

//画像
.image-field {
  position: relative;
  width: 100%;
  gap:3px;
}

.profile-image {
  display: inline-block;
  border-radius: 50%;
  border: 0.5px solid #ccc;
}

.profile-image.default-avatar {
  width: 300px;
  height: 300px;
  background-color: #ccc;
  // 画像を後で選定するため、保留中
  // background-image: url(app/assets/images/default_avatar.png);
}

.upload-button{
  width: 140px;
  font-size: 14px;
  line-height: 17px;
}