/* 外部のcssファイルを読み込む */
/* @import "bootstrap.min.css"; */
/* フラッシュメッセージ */
.flash-message-container {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  width: 500px;
  margin: 150px auto 0;
}

.flash-message.notice {
  background-color: #6ddef6;
  color: #ffffff;
  border: solid 1px #6ddef6;
}

.flash-message.alert {
  background-color: #dc3444;
  color: #ffffff;
  border: solid 1px #dc3444;
}

/* レスポンシブ対応（iPhoneSE） */
@media screen and (max-width: 399px){
  .flash-message-container {
    position: absolute;
    top: 12%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}