/* 外部のcssファイルを読み込む */
@import "bootstrap";
@import url(shared/common.css);
@import url(shared/colors.css);
@import url(shared/error.css);
@import url(shared/header.css);
@import url(shared/footer.css);
@import url(shared/modal.css);
@import url(shared/reset.css);
@import url(login.css);
@import url(events/index.css);
@import url(events/pagination.css);
@import url(events/show.css);
@import url(events/manage_index.css);

/* フラッシュメッセージ */
.flash-message-container {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  width: 500px;
  margin: 150px auto 0;
}

.flash-message.notice {
  background-color: $cyan-300;
  color: #ffffff;
  border: solid 1px $cyan-300;
}

.flash-message.alert {
  background-color:  $red-500;
  color: #ffffff;
  border: solid 1px $red-500;
}

/* レスポンシブ対応（iPhoneSE） */
@media screen and (max-width: 399px){
  .flash-message-container {
    position: absolute;
    top: 12%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}