/* ログインユーザー名 */
.login-user-name {
  margin-right: 20px;
  text-align: right;
}
.form-container {
  display: table;
  margin: 100px auto;
}

/* ページタイトル */
.title {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

/* 項目名 */
.label-tag {
  color: var(--black);
  font-size: 12px;
}

/* テキストボックス */
.text-field {
  width: 400px;
  height: 40px;
  font-size: 16px;
  border: 1.5px solid var(--gray);
  background-color: var(--white);
  text-align: left;
}

/* テキストエリア */
.text-area {
  white-space: normal;
  resize: none;
}

.actions {
  text-align: center;
}

/* 送信ボタン */
.submit-button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--theme_color);
  color: #ffffff;
  font-size: 18px;
}

.submit-button:hover {
  background-color: var(--theme_hover_color);
}

/* 戻るボタン */
.back-button-container {
  text-align: center;
}

.back-button {
  color: #ccc;
  font-size: 0.75rem;
  text-decoration: none;
}

.back-button:hover {
  text-decoration: underline;
}

/* ファイルアップロードボタン */
.upload-button{
  width: 140px;
  font-size: 14px;
  line-height: 17px;
}

/* プレビュー画像のサイズ */
#image-preview {
  width: 300px;
  height: 300px;
  border: 0.5px solid #ccc;
  border-radius: 50%;
}