@import 'bootstrap';

/* フラッシュメッセージ */
.flash-message-container {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  width: 500px;
  margin: 200px auto 0;
}

.flash-message.notice {
  background-color: $cyan-300;
  color: #ffffff;
  border: solid 1px $cyan-300;
}
 
.flash-message.alert {
  background-color:  $red-500;
  color: #ffffff;
  border: solid 1px $red-500;
}
