@import 'bootstrap';

/* ログインページ */
.login-form-container {
  display: grid;
  justify-content: center;
  margin: 200px auto;
}

.signup-link-button {
  display: inline-block;
  width: 200px;
  height: 40px;
  color: var(--theme_color);
  background-color: #ffffff;
  border: 1px solid var(--theme_color);
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
}

.signup-link-button:hover {
  color: #ffffff;
  background-color: var(--theme_color);
}

