@import 'bootstrap';

/* ログインページ */
.signup-link-button {
  display: inline-block;
  width: 200px;
  height: 40px;
  color: var(--theme_color);
  background: var(--white);
  border: 1px solid var(--theme_color);
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
}

.signup-link-button:hover {
  background: var(--theme_color);
  color: var(--white);
}

