.mypage-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
}

.mypage-title {
  text-align: center;
}

.user-info-area {
  display: flex;
  width: 80%;
  margin: 0 100px;
  margin-left: 150px;
}

.user-large-thumbnail {
  width: 300px;
  height: 300px;
  position: relative;
  top: 80px;
  left: 80px;
  margin: 100px;
  border-radius: 50%;
  border: 0.5px solid var(--light-gray);
}

.user-info-table {
  position: relative;
  left: 50px;
  margin: 50px auto;
  width: 500px;
}

.mypage-btns {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mypage-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-submit-button {
  width: 110px;
  height: auto;
  border: none;
  border-radius: 4px;
  background: var(--theme_gradient_color);
  color: #ffffff;
  text-decoration: none;
}

.mypage-submit-button:hover {
  background: var(--theme_color);
}

/* 退会ボタン */
.unsubscribe-button.btn-primary {
  --bs-btn-bg: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: none !important;
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: none !important;
  --bs-btn-disabled-bg: none !important;
  --bs-btn-disabled-border-color: none !important;
  padding: 0 !important;
}
.unsubscribe-button.btn-primary {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  --bs-btn-color: var(--white) !important;
  --bs-btn-bg: var(--red) !important;
  --bs-btn-border-color: var(--red) !important;
  --bs-btn-active-bg: var(--red) !important;
  --bs-btn-active-border-color: var(--red) !important;
  --bs-btn-disabled-bg: var(--red) !important;
  --bs-btn-disabled-border-color: var(--red) !important;
  --bs-btn-hover-bg: var(--red) !important;
  --bs-btn-hover-border-color: var(--red) !important;
}

.unsubscribe-button.btn.btn-primary:hover {
  --bs-btn-color: var(--white) !important;
  --bs-btn-bg: var(--red) !important;
  --bs-btn-border-color: var(--red) !important;
  opacity: 0.8 !important;
}

.unsubscribe-button.btn.outline:hover {
  color: var(--white);
  background-color: var(--red);
  border: 1px solid var(--red);
  opacity: 0.8;
}

@media screen and (max-width: 1024px){
  .user-info-area {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 100px;
  }

  .user-info-image {
    display: flex;
  }

  .user-large-thumbnail {
    position: relative;
    left: 23%;
    width: 40%;
    height: 40%;
    margin: 50px;
  }

  .user-info-caption {
    text-align: center;
  }

  .user-info-table {
    width: 70%;
    margin: 100px 50px 50px
  }
}

@media screen and (max-width: 800px){
  .user-info-table {
    width: 70%;
    margin: 50px auto;
  }

  .user-large-thumbnail {
    position: relative;
    left: 15%;
    width: 40%;
    height: 40%;
    margin: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 819px){
  .user-info-table {
    width: 70%;
    margin: 100px 25px 50px;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px){
  .user-info-area {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px;
  }

  .user-info-table {
    width: 70%;
    margin: 0px;
    margin-top: 100px;
  }

  .user-large-thumbnail {
    position: relative;
    top: 30px;
    left: 18%;
    width: 40%;
    height: 40%;
    margin: 0 50px;
  }
}


